.logo {
    font-size: 22px;
    color: red;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #ccc;
}

.navbar__ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar__ul li:not(:last-child) {
    margin-right: 18px;
}

.navbar__ul li a {
    text-decoration: none;
    display: inline-block;
    color: #888;
}

.navbar__ul li a:hover {
    color: #000;

}